# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually contains binary executables
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and temporary files
*.log
*.tmp

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint report
pylint-report.txt

# Pyre type checker
.pyre/

# Pytest cache
.pytest_cache/

# Flask instance folder
instance/

# Scrapy
.scrapy/

# Sphinx documentation
docs/_build/

# Pyright
pyrightconfig.json

# Other editor configurations
*.swp
*.swo
*~

# IDE / Editor-specific
*.sublime-project
*.sublime-workspace

# Bytecode files for compiled Python
*.pyo
*.pyd
*.pyc
*.pdb
